openapi: 3.1.0
info:
  title: DTZ Core Api
  version: 1.0.7
  description: a generated client for the DTZ Core API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: Jens Walter
    email: jens@apimeister.com
servers:
- url: https://dtz.rocks/api/{version}
  variables:
    version:
      default: "2021-12-09"
      enum:
        - "2021-12-09"
paths:
  /context:
    get:
      summary: get current context
      description: get current context
      operationId: getCurrentContext
      responses:
        200:
          description: status
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/ContextResponse'
    post:
      summary: create new context
      description: create new context
      operationId: createContext
      requestBody: 
        description: create a new context
        content: 
          application/json:
            schema:
              type: object
              properties:
                alias:
                  type: string
      responses:
        200:
          description: status
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/ContextResponse'
  /context/{context_id}:
    get:
      summary: get context information
      operationId: getContext
      parameters:
        - in: path
          name: context_id
          schema:
            type: string
            format: uuid
          required: true
          description: context id
      responses:
        200:
          description: context information
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/ContextResponse'
    post:
      summary: update context
      description: update context
      operationId: updateContext
      parameters:
        - in: path
          name: context_id
          schema:
            type: string
            format: uuid
          required: true
          description: context id
      requestBody: 
        description: update context
        content: 
          application/json:
            schema:
              type: object
              properties:
                alias:
                  type: string
      responses:
        200:
          description: status
          content:
            application/json: 
              schema:
                $ref: '#/components/schemas/ContextResponse'
    delete:
      summary: delete context
      operationId: deleteContext
      parameters:
        - in: path
          name: context_id
          schema:
            type: string
            format: uuid
          required: true
          description: context id
      responses:
        200:
          description: status
  /context/{context_id}/enableService:
    get:
      summary: enable service for context
      parameters:
        - in: path
          name: context_id
          schema:
            type: string
            format: uuid
          required: true
          description: context id
      responses:
        200:
          description: context information
  /certificate:
    post:
      summary: issue a certificate
      description: |
        issue a certificate - 
        if no certificate exists a new one is issued, if a certificate exists
        a new one will only be issued 3 days before its expiration
      operationId: issueCertificate
      requestBody: 
        description: issue a new certificate
        content: 
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
      responses:
        200:
          description: issue certificate response
        429:
          description: too many certificates already issued
  /job:
    post:
      summary: pull one job from the async job queue
      operationId: pullJobFromQueue
      requestBody:
        description: pulls the next job
        content: 
          application/json:
            schema:
              type: object
              properties:
                nodeId:
                  type: string
                instanceId:
                  type: string
                cpuCapacity:
                  type: integer
                  format: int64
                memCapacity:
                  type: integer
                  format: int64
                ecoMode:
                  type: boolean
              required:
              - nodeId
              - instanceId
              - cpuCapacity
              - memCapacity
              - ecoMode
      responses:
        200:
          description: success
          content: 
            application/json:
              schema:
                type: object
                properties:
                  contextId:
                    type: string
                    format: uuid
                  executionId:
                    type: string
                    format: uuid
                  jobId:
                    type: string
                    format: uuid
                  jobName:
                    type: string
                  containerImage:
                    type: string
                  containerImageVersion:
                    type: string
                  containerPullUser:
                    type: string
                  containerPullPwd:
                    type: string
                  envVariables:
                    type: object
                required:
                - contextId
                - executionId
                - jobId
                - jobName
                - containerImage
        204:
          description: nothing found
  /job/{job_id}:
    post:
      summary: create job for async execution
      operationId: createJob
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
            format: uuid
          required: true
          description: job id
      requestBody:
        description: create a new job
        content: 
          application/json:
            schema:
              type: object
              properties:
                jobName:
                  type: string
                service:
                  description: origin service, like dtz-flows, dtz-containers
                  type: string
                earliestStart:
                  type: string
                  format: dateTime
                latestStart:
                  type: string
                  format: dateTime
                requireEcoMode:
                  type: boolean
                jobDefinition:
                  type: object
                  properties:
                    containerImage:
                      type: string
                    containerImageVersion:
                      type: string
                    containerPullUser:
                      type: string
                    containerPullPwd:
                      type: string
                    envVariables:
                      type: object
                  required:
                  - containerImage
              required:
              - jobName
              - service
              - earliestStart
              - latestStart
              - requireEcoMode
              - jobDefinition
      responses:
        200:
          description: success
    get:
      summary: get execution history
      operationId: getJobHistory
      parameters:
        - in: path
          name: job_id
          schema:
            type: string
            format: uuid
          required: true
          description: job id
      responses:
        200:
          description: success
  /ingress:
    get:
      summary: list all ingress
      operationId: listIngress
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IngressResponse'
  /ingress/{domain}/:
    get:
      summary: get ingress for '/' path
      operationId: getRootIngress
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: domain name
      responses:
        200:
          description: success
          content: 
            application/json: 
              schema:
                $ref: '#/components/schemas/IngressResponse'
    post:
      summary: create or update ingress
      operationId: createRootIngress
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: domain name
      requestBody:
        description: create or update ingress
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIngressRequest'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressResponse'
    delete:
      summary: delete ingress
      operationId: deleteRootIngress
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: domain name
      responses:
        200:
          description: status
  /ingress/{domain}/{uri}:
    get:
      summary: get ingress for '/' path
      operationId: getIngress
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: domain name
        - in: path
          name: uri
          schema:
            type: string
          required: true
          description: uri
      responses:
        200:
          description: success
          content: 
            application/json: 
              schema:
                $ref: '#/components/schemas/IngressResponse'
    post:
      summary: create static content for ingress
      operationId: createIngress
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: domain name
        - in: path
          name: uri
          schema:
            type: string
          required: true
          description: uri
      requestBody:
        description: serve static content for ingress
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIngressRequest'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngressResponse'
    delete:
      summary: delete ingress
      operationId: deleteIngress
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: domain name
        - in: path
          name: uri
          schema:
            type: string
          required: true
          description: uri
      responses:
        200:
          description: status
components:
  schemas:
    ContextResponse:
      type: object
      properties:
        contextId:
          type: string
          format: uuid
        created:
          type: string
          format: date-time
        alias:
          type: string
      required:
      - contextId
      - created
    CreateIngressRequest: 
      type: object
      properties:
        container:
          $ref: '#/components/schemas/Container'
        staticContent:
          $ref: '#/components/schemas/StaticContent'
    IngressResponse:
      type: object
      properties:
        domain:
          type: string
        pathPrefix:
          type: string
        container:
          $ref: '#/components/schemas/Container'
        staticContent:
          $ref: '#/components/schemas/StaticContent'
      required:
      - domain
      - pathPrefix
    StaticContent:
      type: object
      properties:
        http:
          type: object
          properties:
            header:
              type: array
              items:
                type: object
                properties:
                  name: 
                    type: string
                  value:
                    type: string
            content:
              type: string
              format: byte
          required:
          - content
        https:
          type: object
          properties:
            header:
              type: array
              items:
                type: object
                properties:
                  name: 
                    type: string
                  value:
                    type: string
            content:
              type: string
              format: byte
          required:
          - content
    Container:
      type: object
      properties:
        containerImage:
          type: string
        containerImageVersion:
          type: string
        containerIdentity:
          type: string
        containerPullUser:
          type: string
        containerPullPwd:
          type: string
        envVariables:
          type: object
      required:
      - containerImage
  securitySchemes:
    dtz_auth:
      type: apiKey
      in: header
      name: X-API-KEY
    dtz_auth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://identity.dtz.rocks/api/2021-02-21/token/auth
          scopes:
            dummy:dummy: dummy
security:
  - dtz_auth: []
  - dtz_auth2: []
